---
layout: projects
---

{% for project in site.data.projects.projects %}
  <div class="row">
    <div class="col-md-4">
      <h2>
        {{project.name}}
      </h2>
      {{project.technologies}}
    </div>

    <div class="col-md-8" style="margin-top:2em; margin-bottom:1em">
      <div>{{project.description}}</div>
      {% if project.links.site %}
        <div><i class="fa fa-link"></i> <a href="{{ project.links.site }}">{{project.name}}</a></div>
      {% endif %}
      {% if project.links.github %}
        <div><i class="fab fa-github"></i> <a href="{{ project.links.github }}">{{ project.links.github | split: "/" | last }}</a></div>
      {% endif %}
    </div>
  </div>
  {% if forloop.last == false %}
    <hr style="border-top: 1px solid #DDD;"/>
  {% endif %}
{% endfor %}